{% extends 'base/base.html' %}

<!-- My Todos to be displayed here-->
{% block table %}
    <h2>My Todos</h2>
    
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Task</th>
                    <th>Date </th>
                    <th>Time</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <th scope="col" id="pk">{{ todo.pk }}</th>
                        <td >{{ todo.task }}</td>
                        <td>{{ todo.mdate }}</td>
                        <td>{{ todo.mtime }}</td>
                        <td>{{ todo.deadline }}</td>
                        <td> <a href="{% url 'delete' pk=todo.pk %}" class="delete" title="delete record?">🗑</a> </td>
                        <td> <a href="{% url 'edit' pk=todo.pk %}" class="edit" title="Edit record?">Edit</a> </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <div class="add">
            <a href="{% url 'index' %}">📝 Add more Todos</a>
        </div>
    
{% endblock %}